default:
  image: node:18
  before_script:
    - corepack enable

stages:
  - test
  - tag
  - deploy

run-tests:
  stage: test
  except:
    - tags
  script:
    - yarn
    - yarn lint
    - yarn build
    - yarn coverage
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    expose_as: 'test-results'
    when: always
    paths:
      - tests/data/dump/
    expire_in: 3 days

tag:
  stage: tag
  only:
    - master
  script:
    - npx semantic-release@20 --repository-url `git remote get-url origin`

deploy-to-npm:
  stage: deploy
  only:
    - tags
  before_script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
    - |
        echo "
      npmPublishRegistry: \"https://registry.npmjs.org/\"
      npmAlwaysAuth: true
      npmAuthToken: \"${NPM_TOKEN}\"" >> .yarnrc.yml
  script:
    - 'sed -ie "s/\"version\":[ ]*\"[^\"]*\"/\"version\": \"`git describe --tags | tr -d v`\"/g" package.json'
    - 'sed -i "/^[ ]*\"prepare\": \".*\",$/d" package.json'
    - yarn
    - yarn npm publish --access public

deploy-to-gitlab:
  stage: deploy
  only:
    - tags
  before_script:
    - |
      echo "
      npmScopes:
        ${CI_PROJECT_ROOT_NAMESPACE}:
          npmRegistryServer: \"https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/\"
          npmPublishRegistry: \"https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/\"
          npmAlwaysAuth: true
          npmAuthToken: \"${CI_JOB_TOKEN}\"" >> .yarnrc.yml
  script:
    - 'sed -ie "s/\"version\":[ ]*\"[^\"]*\"/\"version\": \"`git describe --tags | tr -d v`\"/g" package.json'
    - 'sed -i "/^[ ]*\"prepare\": \".*\",$/d" package.json'
    - yarn
    - yarn npm publish
